body
{
    font:  arial,Helvetica, serif;
    font-size: 15px;
    font-stretch: 1.8;
    padding: 0;
    margin: 0;
    background-color:#f4f4f4;
}
/*Header*/
.container1
{
    width: 100%;
    height: 80px;
    border-bottom: 3px black solid;
    background-color: lightblue;
    background-image: linear-gradient(red, yellow);
    
}
.container1 img
{
    float: left;
    display: inline;
}
.container1 h1
{
    margin-left: 25px;
    font-weight: bolder;
    font-size: 35px;
    display: inline;
    font-family: monospace;
}
.container1 p
{
    text-align: right;
    float: right;
    margin-right: 20px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 20px;
}
.b-ton
{
    
}
/*Nav Bar*/
.container2
{
    display: none;
}
/*Main*/
#main
{
    margin: 0;
    padding: 0;
}

/*Notices*/
.big-box
{
    padding-left: 3px;
    margin: 2px 0px 2px 0px;
    width: 100%;
}
.notice-b-b
{
    margin-top: 2px;
    border-bottom: 2px solid darkgrey;
    height: 110px;
}
.notice-b-b img
{
    width: 40%;
    height: 98%;
    float: left;
    margin-top: 2px;
    margin-right: 2px;
}
.notice-b-b-text
{
    width: 57%;
    float: right;
    margin-right: 2px;
}
.notice-b-b-text a
{
    margin-top: 3px;
    padding: 0;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
}
.notice-b-b-text p
{
    margin: 3px;
    padding: 0;
    vertical-align: auto;
}
.buy
{
    background-color: blue;
    text-decoration: double;
    color: white;
    font-weight: bold;
    float: right;
    margin: 5px;
}
/*side-bar*/
.side-bar
{
    background-color: teal;
    width: 100%;
    height: 80px;    
}
.side-bar h3
{
    vertical-align: center;
    text-decoration: underline;
    text-align: center;
    padding: 0;
    margin: 0px 0px 3px 0px;
}
.social
{
    display: flex;
    flex-direction: row;
}
.side-bar img
{
    width: 50%;
    height: 50px;
    justify-content: center;
}
.side-bar a
{
    padding: 0;
    margin: 0;
    display: inline;
    justify-content: space-between;
    vertical-align: bottom;
}
/* Adds & Sponsors */
.box2
{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: tomato;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.adds
{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.adds p
{
    text-align: center;
    vertical-align: top;
}
.adds img
{
    width: 50%;
    margin: 3px;
    background-position: center;
    background-size: cover;
    flex-direction: row;
}
.adds h3
{
    padding-top: 15px;
    margin: 10px;
}
/*Footer*/
.susc
{
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}

@media (min-width: 768px) /*Tablet*/
{
    .container2/*Nab-bar*/
    {
    display: block;
    width: 100%;
    height: 70px;
    border-bottom: 3px gold solid;
    border-top: 3px gold solid;
    background: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    }
    .container2 ul
    {
        margin: 0;
        padding: 0;
        margin-top: 40px;
    }
    .container2 li
    {
        display:inline;
        padding: 0 20px 0 20px;
    }
    .container2 a
    {
        text-decoration: none;
        color: white;  
        font-size: 25px;
        font-weight: 700;  
    }
    .big-box
    {
        width: 65%;
        float: left;
    }
    .side-bar/*side-bar*/
    {
        width: 32%;
        float: right;
        height: 300px;
    }
    .social
    {
        display: flex;
        flex-direction: column;
    }
    .social a img
    {
        justify-content: center;
    }
    .box2
    {
        width: 32%;
        height: 200px;
        margin-top: 50px;
        justify-content: right;
    }
}
@media (min-width: 1024px) /*Desktop*/
{
    .big-box
    {
        width: 65%;
        float: left;
    }
    .notice-b-b
    {
        margin-top: 2px;
        border-bottom: 2px solid darkgrey;
        height: 200px;
    }
    .buy
    {
        background-color: blue;
        text-decoration: double;
        color: white;
        font-weight: bold;
        float: right;
        margin: 25px;
        height: 30px;
        width: 200px;
    }   
}